<p class="alert-info" layout-padding md-whiteframe>Les corpus sont protégés par un mot de passe, car le premier (auto) est issu d’un ouvrage payant et le second (assurance) ne m’appartient pas. Leur accès est réservé aux membres du jury. Toutefois, si vous désirez les utiliser dans le cadre de recherches universitaires, vous pouvez me<a ui-sref="apropos">contacter.</a></p>
<md-content md-whiteframe layout-margin>
    <md-list layout-fill>
        <md-subheader class="md-no-sticky ">Corpus</md-subheader>
        <md-list-item>
            <span>Corpus auto</span>
            <md-button class="md-secondary md-icon-button " ng-click="$ctrl.showPrompt($event) ">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item>
            <span>Corpus assurance</span>
            <md-button class="md-secondary md-icon-button " ng-click="$ctrl.showPrompt2($event) ">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky ">Listes de référence pour le corpus auto</md-subheader>
        <md-list-item>
            <span>Index</span>
            <md-button class="md-secondary md-icon-button " href="https://www.dropbox.com/s/u9xi4dnhj3c113l/2_AUTO_INDEXATION.txt?dl=1">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item>
            <span>Acrolinx</span>
            <md-button class="md-secondary md-icon-button " href="https://www.dropbox.com/s/f4cpu1kac022q6s/3_Acrolinx_all.txt?dl=1">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item>
            <span>Veligua</span>
            <md-button class="md-secondary md-icon-button " href="https://www.dropbox.com/s/d91xmq9c86qbbx1/3_Velingua_Corpus_auto.txt?dl=1">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item>
            <span>MultiTerm Extract</span>
            <md-button class="md-secondary md-icon-button " href="https://www.dropbox.com/s/9sv0ajpud9sunr4/3_MultiTerm_Extract_Corpus_auto.txt?dl=1">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item>
            <span>TaaS</span>
            <md-button class="md-secondary md-icon-button " href="https://www.dropbox.com/s/6fqkuoxze5xos19/3_TaaS_Corpus_auto.txt?dl=1">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky ">Listes de référence pour le corpus assurance</md-subheader>
        <md-list-item>
            <span>Acrolinx</span>
            <md-button class="md-secondary md-icon-button " href="https://www.dropbox.com/s/mnor0zdg1tbgvv7/3_Acrolinx_Corpus_assurance.txt?dl=1">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item>
            <span>Veligua</span>
            <md-button class="md-secondary md-icon-button " href="https://www.dropbox.com/s/vpukwrq6sjxb0u5/3_Velingua_Corpus_assurance.txt?dl=1">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item>
            <span>MultiTerm Extract</span>
            <md-button class="md-secondary md-icon-button " href="https://www.dropbox.com/s/4kxzos1vp9dn5ss/3_MultiTerm_Extract_Corpus_assurance.txt?dl=1">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
        <md-list-item>
            <span>TaaS</span>
            <md-button class="md-secondary md-icon-button " href="https://www.dropbox.com/s/q770obgygwb1z7f/3_TaaS_Corpus_assurance.txt?dl=1">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</md-content>
